# Renomme ce fichier en secrets.yaml (NE PAS versionner)
wifi_ssid: "MON_WIFI"
wifi_password: "MON_MDP_WIFI"

# (Optionnel) Pour l'API chiffrée ESPHome (recommandé)
api_encryption_key: "BASE64_KEY"

# (Optionnel) mot de passe OTA (ou utilise l'OTA sans mdp en LAN)
ota_password: "OTA_PASSWORD"
